.DS_Store
Thumbs.db
*.class
*.log
*.pyc
*.swp
*.swo
*.tmp
*.temp
*.bak

.env
.env.*
!.env.example
!.env.*.example

.fvm/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
doc/api/

*.iml
*.ipr
*.iws
.idea/
.vscode/

app.*.symbols
app.*.map.json
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/flutter_assets/

macos/Flutter/ephemeral/
macos/Pods/

windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

scripts/Output/
build/installer/

!pubspec.lock
